body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.navbar-nav{
    font-size: 18px;
    font-weight: 700;
}
.background-img{
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-position: cover;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightgray;
    text-align: center;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.price{
    font-weight: 600;
    padding-bottom: 10px;
}
.m-top{
    padding-bottom: 15px;
    font-size: 30px;
}
.text-small{
    font-size: 22px;
    color: #FF8319;
}

.box-shadow{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin: 20px;
}

